* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --back: black;
    --yellow: #ffff00;
}

::selection {
    background-color: var(--yellow);
    color: gray;
}
html {
    /* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values 
    for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
    font-size: 62.5%;
}

@font-face {
    font-family: ttbluescreens;
    src:url(TT-Bluescreens-Bold.ttf);
}

body {
font-family: ttbluescreens;
color: var(--yellow);
background: linear-gradient(rgb(0, 0, 0), #3a3a35, #ffff00);

}

h1,
h2,
h3,
h4,
h5,
h6 

h1 {
    /* 30rem = 300px (30 * 10px) */
    font-size: 10rem;
}

h2{
    font-size: 3.1rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
ul {
    font-size: 3.5rem;
}

p {
    font-size: 2.5rem;
}

h3 {
    font-size:8rem;
    background-color: white;
    color: black;
    width: 716px;
    margin-left: auto;
    margin-right: auto;
}

h4 {
    font-size: 3.1rem;
}

h5 {
    font-size: 2rem;
    background-color: white;
    color: black;
    height:fit-content;
    width:716px;
    margin-left: auto;
    margin-right: auto;
}

header {
    padding: 20px;
}

header h1 {
    display: inline-block;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.navbar-nav > li {
    float: left;
    position: relative;
  }
.navbar-light .navbar-nav .active a::after {
    border-bottom: 5px solid #ffff00;
    bottom: -10px;
    content: " ";
    left: 0;
    position: absolute;
    right: 0;
}
.active a { 
    color: #ffff0096; 
}
a:hover { 
    color: #ffff0096; 
}

.bg-light {
    background-color: rgba(0, 0, 0, 0.432)!important;
}

/*Page Links*/
a {
    color: var(--yellow);
    text-decoration: none; /* Removes ugly underline from links*/
}

#about{
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    margin: 0px 0px 20px;
}

#cutie{
    align-items: right;
}

#aboutMe{
    display: flex;
    display: block;
    max-width: 560px;
    align-items: left;
}

#work{
    text-align: center;
}

#workHr {
    border-top: 6px solid var(--yellow);
    border-radius: 5px;
}

.container_img {
	background-color: rgba(57, 62, 93, 0.7);
	padding: 0;
	overflow: hidden;
	max-width: 350px;
	margin: 5px;
}

.container_img article {
	padding: 10%;
	position: absolute;
	bottom: 0;
	z-index: 1;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.container_img h2 {
	color: #fff;
	font-weight: 800;
	font-size: 25px;
	border-bottom: #fff solid 1px;
}

.container_img h4 {
	font-weight: 300;
	color: #fff;
	font-size: 16px;
}

.container_img img {
	width: 100%;
	top: 0;
	left: 0;
	opacity: 0.4;
	-webkit-transition: all 4s ease;
	-moz-transition: all 4s ease;
	-o-transition: all 4s ease;
	-ms-transition: all 4s ease;
	transition: all 4s ease;
}

.see_more {
	background-color: var();
	position: absolute;
	width: 100%;
	height: 70px;
	bottom: 0;
	z-index: 1;
	opacity: 0;
	transform: translate(0px, 70px);
	-webkit-transform: translate(0px, 70px);
	-moz-transform: translate(0px, 70px);
	-o-transform: translate(0px, 70px);
	-ms-transform: translate(0px, 70px);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.see_more span {
	font-size: 40px;
	color: #fff;
	position: relative;
	margin: 0 auto;
	width: 100%;
	top: 13px;
}


/*hovers*/

.container_img:hover {
	cursor: pointer;
}

.container_img:hover img {
	opacity: 0.1;
	transform: scale(1.5);
}

.container_img:hover article {
	transform: translate(2px, -69px);
	-webkit-transform: translate(2px, -69px);
	-moz-transform: translate(2px, -69px);
	-o-transform: translate(2px, -69px);
	-ms-transform: translate(2px, -69px);
}

.container_img:hover .see_more {
	transform: translate(0px, 0px);
	-webkit-transform: translate(0px, 0px);
	-moz-transform: translate(0px, 0px);
	-o-transform: translate(0px, 0px);
	-ms-transform: translate(0px, 0px);
	opacity: 1;
}

#resume h1 {
    color: var(--back);
}

#resumeHr {
    border-top: 6px solid var(--back);
}

footer {
    padding: 20px;
    color: var(--back);
    text-align: center;
}
footer ul {
    list-style-type: none;
}


@media screen and (min-width: 768px) {
    .card-column {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media screen and (min-width: 992px) {
    header {
        width: 75%;
    }

    .card-column {
        flex: 0 0 50%;
        max-width: 50%;
    }
}